.optionStyle{
    background-color: white;
    border-color: lightblue;
    float:left;
    margin: 10px;
    border-style: solid;
}
.iconStyle{
    padding-right: 5px;
}
.onCLickIconColor{
    color: dodgerblue;
}
