
.pcfFormTitle
{
    color: #333333;
    font-weight: 750;
    margin: 20px auto;
    display: inline-block;
}
.pcfFormTitle2
{
    position: relative;
    left: 0;
    color: #333333;
    font-weight: 750;
    margin: 20px auto;
    display: inline-block;
}
.addEventTitle
{
    color: #333333;
    font-weight: 500;
}

.noBorder
{
    background-color: rgb(247, 247, 247);
  border: 1px;
  color: #333333;
  padding: 8px 8px;
  font-size: 14px;
  cursor: pointer;
}
.selectStyle{
    margin: 10px 15px 10px 10px;
    border: 0px transparent solid;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    color:dodgerblue;
}
.nextButtonStyle{
    margin: 10px;
}

.pcfFormBtn{
    font-weight: 550;
}

.pcfFormBtn:hover {
    background-color: rgb(247, 247, 247);
    border-color: blue;
  }

.pcfformIcon{
    font-size:60px;
    color:red;
}

.pcfFormSubmitCheckbox{
    width: 20px;
    height: 15px;
    margin: 20px;
}

.pcfFormSubmitText{
    font-size: 18px;
    margin: 20px;
}
.btn-space{
    margin:20px 0px;
}