.pcfFormTitle
{
    color: #333333;
    font-weight: 600;
    margin: 20px auto;
    /* display: inline-block; */
}
.pcfFormTitle2
{
    position: relative;
    left: 0;
    color: #333333;
    font-weight: 750;
    margin: 20px auto;
    display: inline-block;
}
.addEventTitle
{
    color: #333333;
    font-weight: 300;
}

.noBorder
{
    background-color: rgb(247, 247, 247);
  border: 1px;
  color: #333333;
  padding: 8px 8px;
  font-size: 14px;
  cursor: pointer;
}
.selectStyle{
    margin: 10px 15px 10px 10px;
    border: 0px transparent solid;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    color:dodgerblue;
}
.nextButtonStyle{
    margin: 10px;
}

.pcfFormBtn{
    font-weight: 550;
}

.pcfFormBtn:hover {
    background-color: rgb(247, 247, 247);
    border-color: blue;
  }

.pcfformIcon{
    font-size:60px;
    color:red;
}

.pcfFormSubmitCheckbox{
    width: 20px;
    height: 15px;
    margin: 20px;
}

.pcfFormSubmitText{
    font-size: 18px;
    margin: 20px;
}
.btn-space{
    margin:20px 10px;
    display: inherit;
}
input[type="text"]{
    border: 50% solid #9a9393;
}
select{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;  
    height: 40px;
    width: 100%;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    background: transparent;
    padding-left: 15px;
    padding-right: 15px;
}
textarea{
    height:100px;
    border: 50% solid #9a9393;
}
#employeeid,#employeename,#businessjustification,#space
{
    float: left;
    margin:5px;
    margin-top: 30px;
}
#supervisorid,#supervisorname,#vertical{
    float: left;
    margin:5px;
    margin-top: 30px;
    padding-bottom: 30px;
}
#button-bottom{
    margin-top:30px;
}
#employeedetails{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
}
#spacedetails{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.borderTopBottom{
    border-top : 2px solid #f1efef;
    margin-top: 30px;
}
.borderTop{
    border-top: 2px solid #f1efef;
}
.paddingDiv{
    padding-bottom: 30px;
}
body {
       font-size: 16px; 
}