.BigCalendarContainer{
    height: 800px !important;
}

.eventHeader{
    height: 150px ;
    background: #f1efef;
    margin: 15px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
}

.selectClass{    
   width: 18em;
   margin-top: 16px;
}
.thumb {
    width: 200px;
    height: 180px;
}